/*
 roboter test application (robota) style sheet
 */
@CHARSET "UTF-8";

/*--icons are yellow per default----------------------*/
.ui-icon {
	font-size: 2.0em;
	color: #f6931f;
}

/*--slider-------------------------*/
#labelCurrentSet {
	position: absolute;
	top: 1em;
	left: 2em;
}

#slider-position-yaw {
	position: absolute;
	top: 18em;
	left: 2em;
	height: 10px;
	width: 300px;
}

#labelPositionPitch{
	border: 0;
	color: #f6931f;
	font-weight: bold;
}

#slider-position-pitch{
	position: absolute;
	top:  3em;
	left: 1em;
	height: 250px;
	width: 10px;
}

#positionPitch{
	border: 0;
	color: #f6931f;
	font-weight: bold;
}

#labelPositionReached{
	position: absolute;
	top: 22em;
	left: 2em;
}

#moveResult{
	border: 0;
	color: #f6931f;
	font-weight: bold;
}

.serialConnection{
	position: absolute;
	top: 1em;
	right: 2em;
}

.serialNoConnect{
	color: #ff0000;
}

.serialConnected{
	color: #00ff00;
}

#iconShutdown {
	position: absolute;
	top: 2em;
	right: 1em;;
}

.ui-icon-power{
	color: #ff0000;
}

#tableDirections {
	position: absolute;
	top: 2em;
	left: 23em;
}
